<div class="page-container">
  <section class="search-panel">

    <app-search-panel [context]="context"></app-search-panel>
    <span class="divider"></span>
    <app-card [status]="cardStatus.SIMPLE_MARKS"></app-card>

  </section>

  <section class="details-panel">
    <div id="details">
      <img id="details-panel-img"
           [src]="getUserPicture()"
           alt="image placeholder">
      <div id="details-wrapper" *ngIf="selectedUser">
        <div>
          <h2>{{selectedUser.name}}</h2>
          <div class="star-container">
            {{selectedUser.rating}}
            <!-- Tu nie wiem jak to zrobić bo to zależy od impoementacji. Można potem zrobić dwie klasy css np. jedna bedzie wypełniała na żółto a druga nie -->
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <button (click)="togglePopup()" class="comment-button">Wystaw komentarz</button>
      </div>
    </div>

    <div id="comment-section">
      <h2>Komentarze</h2>
      <span class="divider"></span>
      <ng-container *ngFor="let comment of commentList">
        <app-marks [comment]="comment"></app-marks>
      </ng-container>
      <!--      <app-card [status]="cardStatus.SIMPLE_WITH_DESCRIPTION"></app-card>-->
    </div>
  </section>
  <app-add-comment class="popup" *ngIf="showCommentPopup" [user]="selectedUser"
                   (commentAdd)="onCommentAdd($event)"></app-add-comment>
</div>
