<div class="page-container">
  <section class="search-panel">

    <app-search-panel [context]="context" (searchChanged)="onSearch($event)"></app-search-panel>
    <span class="divider"></span>
    <div style="overflow: auto">
      <ng-container *ngFor="let user of users">
        <app-user-card [user]="user" (cardEvent)="onUserChanged($event)" [selectedUser]="selectedUser"></app-user-card>
      </ng-container>
    </div>

  </section>

  <section class="details-panel">
    <div id="details">
      <img id="details-panel-img"
           [src]="getUserPicture()"
           alt="image placeholder">
      <div id="details-wrapper" *ngIf="selectedUser">
        <div>
          <h2>{{selectedUser.name}}</h2>
          <app-stars [rating]="selectedUser.rating"></app-stars>
        </div>
        <button (click)="togglePopup()" class="comment-button">Wystaw komentarz</button>
      </div>
    </div>

    <div id="comment-section" style="overflow: auto">
      <h2>Komentarze</h2>
      <span class="divider"></span>
      <ng-container *ngFor="let comment of commentList">
        <app-marks [comment]="comment"></app-marks>
      </ng-container>
      <!--      <app-card [status]="cardStatus.SIMPLE_WITH_DESCRIPTION"></app-card>-->
    </div>
  </section>
  <app-add-comment class="popup" *ngIf="showCommentPopup" [user]="selectedUser"
                   (commentAdd)="onCommentAdd($event)" (closePopup)="this.showCommentPopup = false"></app-add-comment>
</div>
