<div class="user-cards-container">
  <div class="user-card" (click)="cardEvent.emit(travel)">  <!--  TODO zmienić na user-card-active-->
    <div id="details" *ngIf="travel && travel.user">
      <img
        [src]="getUserPicture(travel)"
        alt="image placeholder">
      <div id="mark-wrapper" *ngIf="status === CardStatus.SIMPLE_WITH_DESCRIPTION; else detailed">
        <h3>{{travel.user.name}}</h3>
        <app-stars [rating]="travel.user.rating"></app-stars>
      </div>
      <ng-template #detailed>
        <h3>{{travel.user.name}}</h3>
        <i class="fa fa-check" *ngIf="status === CardStatus.DETAILED"></i>
      </ng-template>
    </div>
    <div id="info" *ngIf="status === CardStatus.DETAILED">
      <div>
        <p>Data</p>
        <span>{{travel.date | date}}</span>
      </div>
      <div>
        <p>Trasa</p>
        <span>{{travel.startPoint}} -> {{travel.destination}}</span>
      </div>
      <div>
        <p>Cena</p>
        <span>{{travel.cost}} zł</span>
      </div>
    </div>

    <div id="info" *ngIf="status === CardStatus.SIMPLE_MARKS">
      <div>
        <p>Ocena</p>
        <div class="star-container">
          <!-- Tu nie wiem jak to zrobić bo to zależy od impoementacji. Można potem zrobić dwie klasy css np. jedna bedzie wypełniała na żółto a druga nie -->
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
    <div *ngIf="status === CardStatus.SIMPLE_WITH_DESCRIPTION">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua</p>
    </div>
  </div>
</div>
