<div class="user-cards-container">
  <div class="user-card">
    <div id="details">
      <div id="mark-wrapper">
        <div class="star-container">
          {{comment.rating}}
          <!-- Tu nie wiem jak to zrobić bo to zależy od impoementacji. Można potem zrobić dwie klasy css np. jedna bedzie wypełniała na żółto a druga nie -->
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
    <div>
      <p>{{comment.comment}}</p>
    </div>
  </div>
</div>
