<div class="my-reservation-container">
  <button class="cancel-button" (click)="closePopup.emit()">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <!--  {{reservationList}}-->
  <ng-container *ngFor="let reservationModel of reservationList">
    <app-card [status]="cardStatus" [canResign]="true" [reservation]="reservationModel"
              (cancelReservation)="cancelReservation($event)"></app-card>
  </ng-container>
  <span *ngIf="!reservationList || reservationList.length == 0">Brak rezerwacji</span>
</div>
