<section class="details-panel" *ngIf="travel">
  <div id="details">
    <img id="details-panel-img"
         src="https://st3.depositphotos.com/9998432/13335/v/600/depositphotos_133352010-stock-illustration-default-placeholder-man-and-woman.jpg"
         alt="image placeholder">
    <div id="details-wrapper">
      <h2>Jan Kowalski</h2>
      <div *ngIf="showButtons">
        <button class="comment-button" (click)="onNotificationClick()">Zgłoszenia</button>
        <button class="comment-button" id="warning-button">Odwołaj</button>
      </div>
    </div>
  </div>

  <div id="travel-info">
    <div>
      <div>
        <p>Data</p>
        <span>{{travel.date | date}}</span>
      </div>
      <div>
        <p>Godzina</p>
        <span>{{travel.date | date:'shortTime'}}</span>
      </div>
      <div>
        <p>Wyjazd</p>
        <span>{{travel.startPoint}}</span>
      </div>
    </div>

    <div>
      <div>
        <p>Czas trwania</p>
        <span>{{travel.duration}} min</span>
      </div>
      <div>
        <p>Pojazd</p>
        <span>{{travel.car}}</span>
      </div>
      <div>
        <p>Miejsca</p>
        <span>{{travel.freeSpace}}</span>
      </div>
    </div>
  </div>

  <div class="map-container">
    Mapka
  </div>
</section>
