.details-panel {
  display: flex;
  flex-direction: column;
  padding: 0.7em;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: 1em;
}

#details-panel-img {
  height: 80px !important;
  width: 80px !important;
}

#details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#details > img {
  border-radius: 100px;
  height: 44px;
  width: 44px;
  margin-right: 10px;
}

#info > div > p {
  font-weight: bold;
}

#info > div > p > span {
  font-weight: 100;
}

#info > div {
  display: flex;
  justify-content: space-between;
}

#info {
  margin: 5px;
}

#travel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

#travel-info > div > div > p {
  font-weight: bold;
}

#travel-info > div > div > p > span {
  font-weight: 100;
}

#travel-info > div > div {
  padding: 1em;
}

#travel-info > div {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.map-container {
  background-color: #d6d6d6;
  background: url("https://i.imgur.com/FcSaIeK.png");
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
  height: 60%;
  background-size: cover;
}

#details-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 44px;
}

#mark-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment-button {
  background-color: #6279FF;
  border-radius: 15px;
  border: none;
  width: 10vw;
  height: 3em;
  font-weight: bold;
  color: white;
  font-size: revert !important;
}

.comment-button:hover {
  background-color: #7f92fa;
}

#comment-section > h2 {
  margin: 10px;
}

#warning-button {
  background-color: #FF6262;
}

#warning-button:hover {
  background-color: #fd8181;
}

#details > i {
  color: #0C820A;
}

.notification-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#action-button {
  background-color: #0C820A;
  margin-right: 10px;
}

#action-button:hover {
  background-color: #10970e;
}

button {
  font-family: 'Ubuntu', sans-serif;
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #6279FF;
  background: #fff;
  color: #6279FF;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

button:hover {
  background-color: #7f92fa;
  color: #fff;
}

button span {
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg {
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

button.is_active {
  width: 40px;
  height: 40px;
}

button.is_active .success {
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg {
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span {
  display: none;
  opacity: 0;
  visibility: hidden;
}

button:not(.is_active) .success {
  display: none;
}

button.is_active .success {
  display: block;
}

section {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-device-width: 420px) {
  #details-wrapper {
    flex-direction: column;
    margin: auto;
    height: auto;
  }

  .popup {
    width: 100% !important;
    height: 100% !important;
  }

  section {
    width: 100%;
    height: 100%;
  }

  #details-wrapper > h2 {
    font-size: 20px;
  }

  #details-wrapper > div {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
  }
  #details {
    flex-direction: column;
    margin: auto;
  }
  #details > img {
    margin: auto;
  }
  .comment-button {
    width: 50%;
  }
  button + button {
    margin-top: 5px;
  }
  #travel-info > div > div {
    padding: 0.1em;
  }

  #travel-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
  }

  #travel-info > div {
    flex-direction: column;
    margin: 0.1em;
  }

  .details-panel {
    height: 60vh !important;
  }

  #warning-button {
    margin: 0;
  }

  #xd {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
  }

  #action-button {
    margin: unset;
  }

  .cancel-button {
    display: block !important;
  }
}

.disabled {
  background: gray;
}
