input {
  border: 0px;
}

#comment-section > h2 {
  margin: 10px;
}

.form-panel {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 90vh;
  padding: 0.7em;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: 2em;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.form-panel > h2 {
  text-align: center;
  padding: 1em;
}

.my-form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  align-items: center;
}

/*BUTTON*/
button {
  font-family: 'Ubuntu', sans-serif;
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #6279FF;
  background: #fff;
  color: #6279FF;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

button:hover {
  background-color: #7f92fa;
  color: #fff;
}

button span {
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg {
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

button.is_active {
  width: 40px;
  height: 40px;
}

button.is_active .success {
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg {
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span {
  display: none;
  opacity: 0;
  visibility: hidden;
}

button:not(.is_active) .success {
  display: none;
}

button.is_active .success {
  display: block;
}

/*INPUT*/
.did-floating-label-content {
  position:relative;
  margin-bottom:20px;
  width: 100%;
}

.did-floating-label {
  color:#1e4c82;
  font-size:13px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:11px;
  padding:0 5px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.did-floating-input, .did-floating-select {
  background: #F6F8FF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size:12px;
  display:block;
  width:100%;
  height:36px;
  padding: 0 20px;
  color: #323840;
  border-radius: 4px;
  box-sizing: border-box;
  &:focus{
    outline:none;
    ~ .did-floating-label{
      top:-8px;
      font-size:13px;
    }
  }
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top:-8px;
  font-size:13px;
}

@media only screen and (max-device-width: 420px) {
  .my-form{
    width: 80%;
  }
  .form-panel {
    height: 70vh;
  }
}
