<div class="page-container">
  <section class="search-panel">
    <app-search-panel [context]="context" (searchChanged)="onSearch($event)"></app-search-panel>
    <span class="divider"></span>
    <div style="overflow: auto">
      <ng-container *ngFor="let travel of travels">
        <app-card [status]="cardStatus" [travel]="travel" (cardEvent)="onCardChanged($event)"
                  [selectedTravel]="selectedTravel"></app-card>
      </ng-container>
    </div>
  </section>

  <app-profile-details [ngClass]="isSmallScreen ? 'popup' : ''" *ngIf="travels && (!isSmallScreen || showPopup)"
                       [showButtons]="true" [context]="context"
                       [travel]="selectedTravel" (onDeleteTravel)="onDeleteTravel($event)"></app-profile-details>
</div>
