<nav class="navbar">
  <img routerLink="/" src="https://cdn.pixabay.com/photo/2014/04/03/00/41/race-car-309123_960_720.png"
       alt="W3Schools.com">
  <a routerLink="/szukaj" title="Wyszukiwarka przejazdów" [ngClass]="{'active-tab': checkURL('szukaj')}"><i
    class="fa fa-car"></i>
    Przejazdy
  </a>
  <ng-container *ngIf="isLogged">
    <div
      style="display: flex;
      justify-content: space-between;
      height: inherit;
      flex-direction: column;"
    >
      <div
        style="height: 229px;
        display: flex;
        flex-direction: column;"
      >
        <a routerLink="/nowy-przejazd" title="Dodaj przejazd" [ngClass]="{'active-tab': checkURL('nowy-przejazd')}"><i
          class="fa fa-plus"></i>
          Dodaj przejazd
        </a>
        <a routerLink="/profil" title="Profil" [ngClass]="{'active-tab': checkURL('profil')}"><i
          class="fa fa-user"></i>
          Mój profil
        </a>
        <a routerLink="/oceny" title="Oceny użytkowników" [ngClass]="{'active-tab': checkURL('oceny')}"><i
          class="fa fa-users"></i>
          Użytkownicy
        </a>
      </div>
      <a title="Wyloguj się" *ngIf="isLogged" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        Wyloguj
      </a>
    </div>
  </ng-container>
  <a title="Zaloguj się" *ngIf="!isLogged" (click)="login()">
    <i class="fa-brands fa-google"></i>
    Logowanie
  </a>
</nav>
