<div class="page-container">
  <section class="search-panel">
    <app-search-panel [context]="context" (searchChanged)="onSearch($event)"></app-search-panel>
    <span class="divider"></span>
    <div style="overflow: auto">
      <ng-container *ngFor="let travel of travels">
        <app-card [status]="cardStatus" [travel]="travel" (cardEvent)="onCardChanged($event)"></app-card>
      </ng-container>
    </div>
  </section>

  <app-profile-details *ngIf="travels" [showButtons]="false" [context]="context"
                       [travel]="selectedTravel"></app-profile-details>
</div>
